@import url(http://fonts.googleapis.com/css?family=Montaga|Source+Sans+Pro:400);

body {
	background: #fefefe;
	color: #846969;
	font-size: 100%;
	text-align: center;
}

a {
    color: #f1fdfe;
    border-bottom: dotted 1px #f1fdfe;
    text-decoration: none;
}

a:hover {
	border-bottom: solid 1px #f1fdfe;
    text-decoration: none;
}

.logo {
	display: block;
	margin: 3.5em auto 2em;
}

.tagline {
	font-family: Montaga, serif;
	font-size: 1.8em;
	margin: 1em 0;
}

hr {
    width: 680px;
    border: 0;
    color: #846969;
    background-color: #846969;
    height: 3px;
    margin: 2em auto;
}

.textWrap {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4em;
    text-align: left;
    width: 600px;
    margin: 0 auto;
}

.follow {
	display: block;
	margin: 3em;
}

@media screen and (max-width: 620px) {
	.logo {
		width: 70%;
        max-width: 358px;
		height: auto;
		margin: 1.5em auto;
	}

	.tagline {
		font-size: 1.3em;
        width: 95%;
        margin: 0 auto;
	}
}

@media screen and (max-width: 700px) {
    hr {
        width: 95%;
    }

    .textWrap {
        width: 85%;
    }
}