@model FirstIssue.WebApp.ViewModels.StyleCreatorViewModel

@{
    ViewBag.Title = "Style your magazine";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h2>Style your magazine</h2>
            <div class="row-fluid">
                <div class="span6">
                    <label>Predefined template</label>
                    @Html.DropDownList("DefaultStyleSelect", new SelectList(Model.PrebuiltStyles, "PrebuiltStyleID", "Name"))
                    <hr />
                </div>
                <div class="span6">
                    <article>
                        <h1>Lorizzle ipsum dolizzle</h1>
                        <h2>Nearly a week without power turned the Friedmans into itinerants.</h2>
                        <span class="author">by Lex Friedman</span>
                        <p>Lorizzle ipsum things shizznit amet, black adipiscing black. Nullizzle sapien velizzle, fo volutpizzle, suscipit yo mamma, bow wow wow vizzle, shut the shizzle up. Pellentesque black tortor. Sed bling bling. Fusce izzle dolizzle fizzle turpizzle tempizzle yo. Pizzle own yo' nibh sure crazy. Fizzle izzle i'm in the shizzle. Yo ass i'm in the shizzle nisi. you son of a bizzle gangsta platea dictumst. Mammasay mammasa mamma oo sa dapibus. Curabitizzle tellizzle owned, pretizzle eu, mattis funky fresh, eleifend fizzle, nunc. Sizzle suscipizzle. Integer fo shizzle mah nizzle fo rizzle, mah home g-dizzle uhuh ... yih! break it down.</p>
                        <p>Duis ut dolizzle. Fusce magna black, dignissizzle sizzle boom shackalack, fringilla egizzle, sollicitudin nizzle, things. Maecenas a nisi. Cool check it out neque izzle shizznit. Suspendisse erat. Crizzle shut the shizzle up tristique turpizzle. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle shit ultricizzle shizzlin dizzle. We gonna chung break yo neck, yall libero, pot interdizzle, posuere ut, dapibus et, pizzle. Crazy rizzle yo mamma. Hizzle break yo neck, yall lectus sit amizzle dolor. Fizzle dapibus yippiyo id arcu. Lorem ipsizzle shit crunk amizzle, consectetizzle shizzlin dizzle elizzle. Dang massa purizzle, eleifend laorizzle, ullamcorper izzle, black non, elit. Da bomb porta rutrizzle .</p>
                        <p>Maecenizzle fo shizzle my nizzle mi. You son of a bizzle eros. Uhuh ... yih! condimentizzle, turpizzle dizzle congue pizzle, metus libero shizzlin dizzle purizzle, stuff ullamcorpizzle away gangsta nizzle we gonna chung. Cras faucibizzle crunk. Dizzle yippiyo lectizzle, fo sizzle, mammasay mammasa mamma oo sa volutpizzle, porttitor ac, shit. Proin sheezy urna. Cras condimentizzle mi izzle shizzlin dizzle. Pellentesque hendrerizzle euismod felis. Bow wow wow shizzle my nizzle crocodizzle nisl stuff erizzle. Etizzle dizzle lacinia mi. Go to hizzle mauris. Sed nisl shizznit, euismizzle bling bling, dang sizzle, malesuada fo shizzle, nisi. Vivamizzle mofo sheezy boom shackalack.</p>
                        <p>Yippiyo commodo erizzle izzle ass. Nullam yippiyo. Vestibulizzle own yo' mah nizzle dui. Quisque bizzle amizzle pizzle eu mah nizzle we gonna chung phat. Fo shizzle potenti. Things at sizzle we gonna chung purizzle tincidunt aliquam. Sed gravida fo shizzle sizzle. interdum fo shizzle izzle sem. Quisque malesuada. You son of a bizzle tellivizzle tellus sed diam shut the shizzle up viverra. Fo facilisi. Check it out quizzle quizzle the bizzle sure molestie crazy. Nullizzle ass dope hendrerit its fo rizzle. Fo shizzle sempizzle fo shizzle sed tellus. Etizzle doggy get down get down izzle dui. Maecenizzle owned doggy purizzle.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>