<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>First Issue</title>

        @Styles.Render("~/Content/css")
    </head>
    <body>
        <img src="@Url.Content("~/Content/Images/dark-logo.png")" height="133" width="359" alt="First Issue" class="logo" />        

        <h1>Matt is awesome</h1>
    </body>
</html>